// Buttons
.btn {

  font-family: @font-family-secondary;
  font-weight: @font-weight-medium;

  border: none;
  // Buttons Options
  &.btn-cta {
    background-color: @brand-info;
    #gradient .vertical(@brand-info-secondary,  @brand-info, 0%, 100%);
    color: @white;  
  }
  
  &.btn-primary {
    font-size: @font-size-l;
    width: 110px;
    height: 40px;
    text-align: center;
    &:extend(.pad-s);
    margin: 2px 0 0 10px;    
    background: @brand-primary;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    color: @white;
    font-weight: @font-weight-light;
    line-height: 30px;
    
    &:hover {
      background-color: @brand-primary-hover;
    }
  }

  &.btn-white {
    background-color: @white;
    color: @brand-primary;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
    white-space: normal;
    border-radius: 3px;
    padding: 3px 10px;

    &:hover {
      color: @brand-primary !important;
    }
  }

  &.btn-green {
    background-color: @brand-primary;
    color: @white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
    white-space: normal;
    border-radius: 3px;
    padding: 3px 10px;

    &:hover {
      color: @white !important;
    }
  }

  &.btn-rebroadcast {
    #gradient .vertical(@gray-light, @gray-dark, 0%, 100%);
    color: @white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
    white-space: normal;
    border-radius: 3px;
    border: 2px solid @brand-primary;
  }

  &.btn-large {
    padding: 20px 16px;
    font-size: @font-size-m;
    white-space: normal;
    border-radius: 3px;
  }

  &.btn-disabled {
    cursor: default;
    background-color: #B0B0B0;
    color: white;
  }

  // Special Buttons
  &.btn-facebook-login {
    .border-top-radius(5px);
    .border-bottom-radius(5px);
    display: block;
    background-color: #4C60A8;
    color: white;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    margin-bottom: 20px;
    div {
      margin-top: 2px;
      font-weight: 300;
    }
    .icon-facebook-sign {
      font-size: @font-size-xl;
      margin-top: 0;
    }
  }

  // Button Psudeo
  &:hover {
    background-image: none;
  };

  &:active {
    background-image: none;
    .box-shadow(none);
  };
}

@btn-primary-bg: @brand-info;
@btn-default-bg: @gray;
@btn-success-bg: @brand-primary;
